workflows/4p0y7XRq6PosqZMv.json
{
  "updatedAt": "2026-04-26T12:31:44.400Z",
  "createdAt": "2026-04-26T12:26:40.575Z",
  "id": "4p0y7XRq6PosqZMv",
  "name": "道の駅登録",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "command": "cd /files/n8n_tools\nnpx tsx src/michinoeki/cli.ts"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "90829d9a-59f7-4bfc-b69e-65d2b0710f7d",
      "name": "サイトをチェックして"
    },
    {
      "parameters": {
        "jsCode": "const parsed = JSON.parse($input.first().json.stdout);\nreturn parsed.urls.map(url => ({ json: { url } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "c073aa1b-c172-4800-82f0-201b500843c7",
      "name": "JSONを変換して"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#test",
          "mode": "name"
        },
        "text": "={{ $input.item.json.url }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "botProfile": {
            "imageValues": {
              "profilePhotoType": "image",
              "icon_url": "https://pbs.twimg.com/profile_images/894387137272872960/ujLfw6Ez_400x400.jpg"
            }
          },
          "sendAsUser": "乗り物ニュース"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        624,
        0
      ],
      "id": "527969db-37c7-4e0f-b689-bef31a81df82",
      "name": "Slack に投稿する",
      "webhookId": "13d7f066-54cb-4c44-b9ea-1b94bf7123d1",
      "credentials": {
        "slackApi": {
          "id": "u023lHhO0RxPltWG",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "81c5e070-d2ee-4333-8566-4ef0952383a8",
      "name": "午前10時に"
    }
  ],
  "connections": {
    "サイトをチェックして": {
      "main": [
        [
          {
            "node": "JSONを変換して",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSONを変換して": {
      "main": [
        [
          {
            "node": "Slack に投稿する",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "午前10時に": {
      "main": [
        [
          {
            "node": "サイトをチェックして",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:午前10時に": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "70175388-f89f-476f-be7c-08a69cfed862",
  "activeVersionId": "70175388-f89f-476f-be7c-08a69cfed862",
  "versionCounter": 20,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-26T12:26:40.577Z",
      "createdAt": "2026-04-26T12:26:40.577Z",
      "role": "workflow:owner",
      "workflowId": "4p0y7XRq6PosqZMv",
      "projectId": "yHsQmZORZPbcy5z9",
      "project": {
        "updatedAt": "2026-03-18T11:12:41.262Z",
        "createdAt": "2026-03-16T17:57:23.506Z",
        "id": "yHsQmZORZPbcy5z9",
        "name": "Takeshi KOMIYA <i.tkomiya@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1c19844f-d045-4284-87f7-cece9750f135"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 70175388",
    "description": ""
  }
}