workflows/QGM1hASLOSYHq46V.json
{
  "updatedAt": "2026-04-12T19:05:41.669Z",
  "createdAt": "2026-04-12T04:53:27.712Z",
  "id": "QGM1hASLOSYHq46V",
  "name": "X チェック",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "11a5d705-24fd-48dd-b125-1045f7442992",
      "name": "2時間おきに"
    },
    {
      "parameters": {
        "executeOnce": "={{ true }}",
        "command": "cd /files/n8n_tools\nnpx tsx src/xfetch/cli.ts --inline-media swingingpopsicl wafflesjp yoshitwit69"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "e0f806e4-32fb-4a82-b8a0-ded6722f59a2",
      "name": "X をチェックして"
    },
    {
      "parameters": {
        "jsCode": "const parsed = JSON.parse($input.first().json.stdout);\nreturn parsed.posts.map(post => ({ json: post }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "e2511295-d754-4438-a9f8-55588e43c38e",
      "name": "各ツイートを"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#random",
          "mode": "name"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "botProfile": {
            "imageValues": {
              "profilePhotoType": "image",
              "icon_url": "={{ $json.author.profile_image_url }}"
            }
          },
          "unfurl_links": true,
          "sendAsUser": "={{ $json.author.name }}"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        624,
        0
      ],
      "id": "d5451a41-cbf8-4a92-81b2-deb485132abd",
      "name": "Slack にポストする",
      "webhookId": "e38a3450-8897-468a-8021-fcb85f55612e",
      "credentials": {
        "slackApi": {
          "id": "u023lHhO0RxPltWG",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "command": "cd /files/n8n_tools\nnpx tsx src/xfetch/cli.ts --inline-media -v -e 亜紀報 -e アキノメイト aikioku"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        208,
        176
      ],
      "id": "806750d7-a344-4405-b759-ea5d44c1bea1",
      "name": "奥井亜紀チェック"
    }
  ],
  "connections": {
    "2時間おきに": {
      "main": [
        [
          {
            "node": "X をチェックして",
            "type": "main",
            "index": 0
          },
          {
            "node": "奥井亜紀チェック",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X をチェックして": {
      "main": [
        [
          {
            "node": "各ツイートを",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "各ツイートを": {
      "main": [
        [
          {
            "node": "Slack にポストする",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "奥井亜紀チェック": {
      "main": [
        [
          {
            "node": "各ツイートを",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:2時間おきに": {
      "recurrenceRules": [
        16
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "072a66eb-f356-4ba2-ac47-005d33edfa8f",
  "activeVersionId": "072a66eb-f356-4ba2-ac47-005d33edfa8f",
  "versionCounter": 209,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-12T04:53:27.716Z",
      "createdAt": "2026-04-12T04:53:27.716Z",
      "role": "workflow:owner",
      "workflowId": "QGM1hASLOSYHq46V",
      "projectId": "yHsQmZORZPbcy5z9",
      "project": {
        "updatedAt": "2026-03-18T11:12:41.262Z",
        "createdAt": "2026-03-16T17:57:23.506Z",
        "id": "yHsQmZORZPbcy5z9",
        "name": "Takeshi KOMIYA <i.tkomiya@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1c19844f-d045-4284-87f7-cece9750f135"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 072a66eb",
    "description": ""
  }
}