workflows/YkftrLwYHXH93yuq.json
{
  "updatedAt": "2026-04-26T15:25:24.677Z",
  "createdAt": "2026-03-18T11:16:38.911Z",
  "id": "YkftrLwYHXH93yuq",
  "name": "買い物リスト管理",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0e439d56-8a39-4433-ba7b-3462ec1073a6",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        96
      ],
      "id": "0b4e7127-a09d-4f2b-918c-407797f305bf",
      "name": "買い物リストにチェック",
      "webhookId": "0e439d56-8a39-4433-ba7b-3462ec1073a6"
    },
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "watchWorkspace": true,
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -176
      ],
      "id": "25d3c5c1-81fa-404a-8b68-096e32ecd0db",
      "name": "Slack メンション",
      "webhookId": "d36d5165-b0f1-41e9-bb1d-65499931408f",
      "credentials": {
        "slackApi": {
          "id": "u023lHhO0RxPltWG",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        304
      ],
      "id": "f3ec1455-ec87-4eda-8d8b-c951bf65ad40",
      "name": "深夜"
    },
    {
      "parameters": {
        "command": "cd /files/n8n_tools\nnpx tsx src/shopping_list/cli.ts purge"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        208,
        304
      ],
      "id": "3de8a3cd-9ac7-4319-83d8-a989dc8e45b5",
      "name": "shopping_list purge"
    },
    {
      "parameters": {
        "command": "=cd /files/n8n_tools\ncat <<'__SLACK_PAYLOAD_END__' | npx tsx src/shopping_list/cli.ts dispatch\n{{ JSON.stringify($json) }}\n__SLACK_PAYLOAD_END__"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        208,
        -176
      ],
      "id": "2d0003ca-a3ba-4b52-9896-c7361b3350e4",
      "name": "shopping_list dispatch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse($json.stdout).kind }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3eeebb25-04ef-4168-b4c8-e8829128805e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "list"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        -176
      ],
      "id": "dbf81f66-2c9f-4300-9da9-2db1fd4c9942",
      "name": "list? add?"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack メンション').item.json.channel }}",
          "mode": "id"
        },
        "messageType": "block",
        "blocksUi": "={{ JSON.stringify({ blocks: JSON.parse($('shopping_list dispatch').item.json.stdout).blocks }) }}",
        "text": "blah blah blah",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "botProfile": {
            "imageValues": {
              "profilePhotoType": "emoji",
              "icon_emoji": "shopping_trolley"
            }
          }
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        672,
        -256
      ],
      "id": "74ca8192-a081-4d9e-b8fb-649917694671",
      "name": "買い物リスト送信",
      "webhookId": "67b4bddc-f235-4f59-8424-8ee5d9399b48",
      "credentials": {
        "slackApi": {
          "id": "u023lHhO0RxPltWG",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resource": "reaction",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack メンション').item.json.channel }}",
          "mode": "id"
        },
        "timestamp": "={{ $('Slack メンション').item.json.ts }}",
        "name": "white_check_mark"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        672,
        -112
      ],
      "id": "e0d6858d-3d97-4260-9a7b-63faac883783",
      "name": "買い物リスト追加完了",
      "webhookId": "67f6db3e-488d-415e-b07c-e9855ddf306a",
      "credentials": {
        "slackApi": {
          "id": "u023lHhO0RxPltWG",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "command": "=cd /files/n8n_tools\ncat <<'__SLACK_PAYLOAD_END__' | npx tsx src/slackutils/checkboxes/cli.ts\n{{ $json.body.payload }}\n__SLACK_PAYLOAD_END__"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        208,
        96
      ],
      "id": "4242d2a4-5455-4eee-b97f-921dcd4f388b",
      "name": "チェックボックス展開"
    },
    {
      "parameters": {
        "command": "=cd /files/n8n_tools\ncat <<'__STATE_MAP_END__' | npx tsx src/shopping_list/cli.ts update\n{{ $json.stdout }}\n__STATE_MAP_END__"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        416,
        96
      ],
      "id": "8a7fde31-cbf4-4dcf-a84f-d355d051f3ca",
      "name": "shopping_list update"
    }
  ],
  "connections": {
    "買い物リストにチェック": {
      "main": [
        [
          {
            "node": "チェックボックス展開",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack メンション": {
      "main": [
        [
          {
            "node": "shopping_list dispatch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "深夜": {
      "main": [
        [
          {
            "node": "shopping_list purge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "shopping_list purge": {
      "main": [
        []
      ]
    },
    "shopping_list dispatch": {
      "main": [
        [
          {
            "node": "list? add?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "list? add?": {
      "main": [
        [
          {
            "node": "買い物リスト送信",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "買い物リスト追加完了",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "チェックボックス展開": {
      "main": [
        [
          {
            "node": "shopping_list update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:深夜": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7caf9b32-9185-4d82-a959-7114bfce4f3b",
  "activeVersionId": "7caf9b32-9185-4d82-a959-7114bfce4f3b",
  "versionCounter": 721,
  "triggerCount": 3,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-18T11:16:38.993Z",
      "createdAt": "2026-03-18T11:16:38.993Z",
      "role": "workflow:owner",
      "workflowId": "YkftrLwYHXH93yuq",
      "projectId": "yHsQmZORZPbcy5z9",
      "project": {
        "updatedAt": "2026-03-18T11:12:41.262Z",
        "createdAt": "2026-03-16T17:57:23.506Z",
        "id": "yHsQmZORZPbcy5z9",
        "name": "Takeshi KOMIYA <i.tkomiya@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "1c19844f-d045-4284-87f7-cece9750f135"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 7caf9b32",
    "description": ""
  }
}